@model List<CoffylabMVCProject.Entities.Feature>
<section class="banner-area" id="home">
	<div class="container">
		<div class="row fullscreen d-flex align-items-center justify-content-start">
			<div class="banner-content col-lg-7">
				<h6 class="text-white text-uppercase">@ViewBag.Subtitle</h6> @* Sonra kontrol et! *@
				<h1>
					<br /><br />
					Breved to
					<br />
					Perfection
				</h1>
				<a href="#menu" class="primary-btn text-uppercase">Discover Now</a>
			</div>
		</div>
	</div>
</section>