@{
	Layout = null;
}

<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Login Coffylab Admin</title>
	<link rel="stylesheet" href="/login/style.css">
</head>
<body>
	<div class="wrapper">
		<form method="post">
			<h2>Login</h2>
			<div class="input-field">
				<input type="email" name="Email" required>
				<label>Enter your email</label>
			</div>
			<div class="input-field">
				<input type="password" name="password" required>
				<label>Enter your password</label>
			</div>
			<p>
				@Html.ValidationSummary(true, "", new { style = "color: red;" })
			</p>
			<br />
			<button type="submit">Log In</button>
		</form>
	</div>

	<!-- Jquery JS-->
	<script src="/login/vendor/jquery/jquery.min.js"></script>
	<!-- Vendor JS-->
	<script src="/login/vendor/select2/select2.min.js"></script>
	<script src="/login/vendor/datepicker/moment.min.js"></script>
	<script src="/login/vendor/datepicker/daterangepicker.js"></script>

	<!-- Main JS-->
	<script src="/login/js/global.js"></script>

</body>
</html>

