@model IEnumerable<CoffylabMVCProject.Entities.Meet>

<section class="video-sec-area pb-100 pt-40" id="about">
	<div class="overlay"></div>
		<div class="container">
			<div class="row justify-content-start align-items-center">
				@foreach (var item in Model)
				{
					<div class="col-lg-6 video-right justify-content-center align-items-center d-flex">
						<div class="overlay overlay-bg"></div>
						<a class="play-btn" href="@item.VideoUrl"><img class="img-fluid" src="/coffylab/img/play-icon.png" alt=""></a>
					</div>
					<div class="col-lg-6 video-left">
						<h6>@item.Subtitle</h6>
						<h1>
							Meet our <br>
							real coffee experience
						</h1>
						<p><span>@item.ShortDescription</span></p>
						<p>
							@item.FullDescription
						</p>
						<img class="img-fluid" src="/coffylab/img/signature.png" alt="">
					</div>
				}
			</div>
		</div>
</section>