
<div class="container">
    <div class="row align-items-center justify-content-between d-flex">
        <div id="logo">
            <a href="/CoffylabLayout/Index"> <h3 style="color: white">Coffylab</h3></a>
        </div>
        <nav id="nav-menu-container">
            <ul class="nav-menu">
                <li class="menu-active"><a href="#home">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#menu">Coffee</a></li>
                <li><a href="#gallery">Gallery</a></li>
                <li><a href="#review">Review</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </nav><!-- #nav-menu-container -->
    </div>
</div>


@* /coffylab/img/logo.png *@
